<article class="post">
  <div class="title">
    <a href="/{{username}}" target="_blank">User: {{username}} </a>
    <span>({{link}})</span>
  </div>
  <div class="meta">
    email: {{email}}
  </div>
</article>